.followTheFox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    gap:2em;
    background-color: #4D4848;
}

.followTheFox__main{
    display: flex;
    justify-content: center;
    align-items:center;
    width:80%;
}

.followTheFox__main h1{
    font-size: 4em;
    color:#fff;
}

@media only screen and (max-width: 824px) {
    
    .followTheFox__main h1{
        font-size: 2em;
    }

    .followTheFox__main{
        flex-direction: column-reverse;
    }

    .followTheFox__main img{
        margin-bottom:3em;
    }

}