.syrah-wrapper{
    margin: 0;
    height: 100vh;
    display: flex;   
}

.syrah-left-half{
    flex: 1;

    
}

.syrah-right-half{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #9c0c1d, #cc6826);


}

.syrah-bottle{
    background-image: url(../../../../images/2_ainata_v4.2_cuvee_24_bottle.jpg);
    background-size: cover;
    height: 100%;
    align-content: center;
    background-repeat: no-repeat;
    right: 50px;
    width: 100%;
    background-position: center;
    background-position-y: 60%;   
}



 .syrah-logo__wrapper{
    height: 100vh;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

} 

.syrah-logo{
    height: 250px;
    padding-top: 1em;
    padding-left: 0.3em;

}

.syrah-text {
   font-size: 1.5em;
   /* align-items: center; */
   /* padding-top: 5em; */
   padding-left: 0.5em;
   flex-direction: column;
   justify-content: center;
   color: white;

}

.syrah-title{
    text-align: start;
    padding-left: 0.5em;
    color: white;
   

}





