.generosity-wrapper{
    margin: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
}

.generosity-background-pic{
    background-image: url(../../../images/bg-red-wine.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100vh;
    grid-column: 1/3;
}

.g-wine-bottle{
    width: auto;
    height: 100vh;
    z-index: 1;
    position: relative;
    left:85%;
    top:0px; 
}


.generosity-text{
    display: flex;
    text-align: left;
    padding-top: 5rem;
    padding-right: 5rem;
    flex-direction: column;
    grid-column: 4/5;
    gap:4em;
}

.generosity-text h1{
    font-size: 5em;
}