.ourStory2-wrapper{
    /* background: linear-gradient(to top,  #43c6ac, #191654); */
    height: 100vh;
}

.ourStory2-container{
    height: 100vh;
    display: flex;
}


.ourStory2-text__left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #dce5ec; */
    border:solid 5px rgb(31, 21, 21);
    /* border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; */
    padding: 25px;
    margin: 50px;

}

.ourStory2-image{
    height: 100vh;
    align-content: center;
    width: 100%;
}

.ourStory2-text {
    font-size: 1.5em;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-family: oswald;
 }

 .ourStory2-image{
    height: 100vh;
    width: auto;
 }

 @font-face{
    font-family: 'oswald';
    src: url(../../../fonts/Oswald-Light.ttf);

}


@media only screen and (max-width: 980px){



    .ourStory2-image{
        height: 40vh;  
        padding-top: 2em;     
    }

    .ourStory2-container{
        height: 98vh;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        align-items: center;
    }
     
    .ourStory2-text{
        font-size: 15px;
        padding: 0 0.5em;
    }

    .ourStory2-text__left{
       border: none;
       background-color: none;
       padding: 0px;
       margin: 0px;
    }
     
}
