.chardonnay-wrapper{
    margin: 0;
    height: 100vh;
    display: flex;   
}

.chardonnay-left-half{
    flex: 1;

    
}

.chardonnay-right-half{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #000000, #434343);


}

.chardonnay-bottle{
    background-image: url(../../../../images/4_ainata_chardonnnay_bottle_v4.2_b.jpg);
    background-size: cover;
    height: 100%;
    align-content: center;
    background-repeat: no-repeat;
    right: 50px;
    width: 100%;
    background-position: center;
    background-position-y: 60%;   
}



 .chardonnay-logo__wrapper{
    height: 100vh;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

} 

.chardonnay-logo{
    height: 250px;
    padding-top: 1em;
    padding-left: 0.3em;

}

.chardonnay-content__container{
    padding-top: 2.5em;
}

.chardonnay-text {
   font-size: 1.5em;
   /* align-items: center; */
   /* padding-top: 5em; */
   padding-left: 0.5em;
   flex-direction: column;
   justify-content: center;
   color: white;
 

}

.chardonnay-title{
    text-align: start;
    padding-left: 0.5em;
    color: white;
   

}





