.secondScreen-Wrapper{
    padding-top:2em;
    position: absolute;
    z-index: 2;
    display:grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    width:100%;
    grid-gap:1em;
}

.background-photo{
    height: 100vh;
    width:100%;
    background-image: url(../../../images/DSC_2880.JPG);
    background-repeat: no-repeat;
    position: absolute;
    background-size:cover;
    z-index: 1;
    filter: blur(4px);
}

.secondScreen-Wrapper__title{
    flex-direction: column;
    display:flex;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.55);
    width:100%;
    padding: 2em 0;
}

.secondScreen-Wrapper__title h1{
    color:#fff;
    padding:1em;
}

.secondScreen-Wrapper__title p{
    color:#fff;
    font-size: 1.5em;
}

.secondScreen-Wrapper__title__text{
    width:70%;
}

@media only screen and (max-width: 1024px) {
    
    .secondScreen-Wrapper__title h1{
        font-size: 1.5em;
        padding:0.5em;
    }
    
    .secondScreen-Wrapper__title p{
        font-size: 1em;
    }
    
    .secondScreen-Wrapper__title__text{
        width:90%;
    }

    .secondScreen-Wrapper{
        grid-gap:5em;
    }

  }