.fox4-wrapper{
    background: linear-gradient(to bottom, #c94b4b, #4b134f);
    height: 100vh;
}

.fox4-container{
    height: 100vh;
    display: flex;
}

h3{
    padding-bottom: 1em;
}


.fox4-text__left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dce5ec;
    border:solid 5px rgb(31, 21, 21);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    padding: 25px;
    margin: 50px;

}

.fox4-image{
    height: 100vh;
    align-content: center;
    width: 100%;
}

.fox4-text {
    font-size: 1.5em;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-family: oswald;
 }

 .fox4-illustartion{
    height: 100vh;
    width: auto;
 }

 @font-face{
    font-family: 'oswald';
    src: url(../../../fonts/Oswald-Light.ttf);

}


@media only screen and (max-width: 980px){



    .fox4-illustartion{
        height: 50vh;       
    }

    .fox4-container{
        height: 98vh;
        flex-direction: column-reverse;
        background-color: #dce5ec;
        border:solid 5px rgb(31, 21, 21);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        padding: 0px;
        margin: 0px;
        align-items: center;
    }
     
    .fox4-text{
        font-size: 16px;
        padding: 0 0.5em;
    }

    .fox4-text__left{
       border: none;
       background-color: none;
       padding: 0px;
       margin: 0px;
    }
     
}
