.footer__info{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.footer__info__details{
    margin-top:2em;
    height: 85vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    justify-items: center;
    text-align: left;
    grid-gap:1em;
}

.footer__info__images{
    height: 85vh;
    width:100%;
    filter: opacity(50%);
    display: flex;
    justify-content: center;
    margin:1em 0;
}

.footer__info__details__icon{
    color: #4d4848;
    font-size: 59px;
    padding:15px 8px;
}

.footer__info__details h1{
    font-size: 4em;
    color:#4D4848;
}

.footer__info__details p{
    font-size: 1.5em;
    color:#4D4848;
}

.footer__bar{
    position: absolute;
    width:100%;
    bottom:0;
    padding: 10px 0;
    justify-items: center;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #4D4848;
    color:#FFFFFF;
}

@media only screen and (max-width: 1024px) {
    
    .footer__info{
        display: block;
    }

    .footer__info__images{
        display: none;
    }

  }