.ainata12-wrapper{
    margin: 0;
    height: 100vh;
    display: flex;  
}

.ainata12-left-half{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #870000, #190a05);

    
}

.ainata12-right-half{
    flex: 1;


}

.ainata12-bottle{
    background-image: url(../../../../images/1_ainata_v4.2_cuvee_12_bottle.jpg);
    background-size: cover;
    height: 100vh;
    align-content: center;
    background-repeat: no-repeat;
    right: 50px;
    width: 100%;
    background-position: center;
    background-position-y: 60%;
}



 .ainata12-logo__wrapper{
    height: 100vh;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

} 

.ainata12-logo{
    height: 250px;
    padding-top: 1em;

}

.ainata12-text {
   font-size: 1.5em;
   /* align-items: center; */
   /* padding-top: 5em; */
   padding-left: 0.5em;
   flex-direction: column;
   justify-content: center;
   color: white;
}

.ainata12-title{
    /* font-size: 1.5em; */
     text-align: start;
    /* padding-top: 1em; */
    /* align-items: flex-start; */
    padding-left: 0.5em;
    color: white;
   

}

@media only screen and (max-width: 830px){

    .ainata12-content__container{
        flex: 1 0 50%;
      
        

    }

    .ainata12-logo{
        display: none;
    }

    .ainata12-bottle{
        flex: 0 0 50%;
        
        height: 60vh;
        
    }

    .ainata12-wrapper{
        flex-direction: column-reverse;
    }
     
    .ainata12-text{
        font-size: 16px;
        padding-top: 1em;
    }
     
}
